DEEPL_API_KEY="your_secret_api_key"

# PostgreSQL Database Configuration
POSTGRES_USER="your_db_user"
POSTGRES_PASSWORD="your_db_password"
POSTGRES_DB="learning_japanese_db"
DATABASE_URL="postgresql://your_db_user:your_db_password@db:5432/learning_japanese_db"
